.app {
  text-align: center;
}

.app-header{
  background-color: aquamarine;
  font-size: 8vw;
  padding: 1%;
}


.content-container{
  background-color:burlywood;
  display: grid;
  padding: 1%;
  height: 75vh;
}

.link-container{
  /* margin: 1vw; */
  position:absolute;
  bottom: 80%;
  left: 15%;
}

.titleChars{
  font-size: 4vh;
  padding-top: 1vh;
  padding-left: 3vh;
  background: transparent;
  outline: none;
  border: none;
}

.titleO{
  font-size: 5vh;
  padding-top: 1vh;
  padding-left: 3vh;
  background: transparent;
  outline: none;
  border: none;
}

